*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(35, 31, 31);
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-content{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    gap: 18px;
    position: relative;
}


.box select{
    padding-inline-start: 1.6rem;
    padding-block: 0.6rem;
    border-radius: 6px;
    color: white;
    background-color: black;
    border: 2px solid gray;
}

.box button{
    padding-inline: 0.7rem;
    padding-block: 0.3rem;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: none;
}

.abs{
    position: absolute;
    color: white;
    top: 10px;
    left: 5px;
    font-size: 18px !important;
}


@media screen and (max-width: 550px) {

    
    .header-content{
        width: 90%;
    }

    .header-content span{
        display: none;
    }


    .header-content select{
        padding: 0;
    }

    .header-content button{
        padding: 8px;
    }

    .header-content img{
        width: 90px;
    }



}




main{
    background-image: url(./images/back-img.jpg);
    height: 80vh;
}

.hero{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
}

.hero-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 43px;

}

.tet{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input{
    display: flex;
    gap: 15px;
    align-items: center;
}

.input input{
    width: 300px;
    border-radius: 5px;
    padding-inline-start: 1rem;
    background-color: rgb(72, 70, 70);
    height: 40px;
    border: none;
    color: white;
}


.input .btn{
    padding-inline: 0.9rem;
    padding-block: 8px;
    background-color: tomato;
    border-radius: 5px;
}


@media screen and (max-width: 530px) {

    .input{
        flex-direction: column;
        gap: 30px;
    }

}



.semi-hero{
    margin-top: 10px;
    background-color: black;
}


.semi-hero-content{
    height: 300px;
    width: 70%;
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

}


.text h2{
    font-size: 2.3rem;
    font-weight: 900;

}

.image{
    position: relative;
}



.image img{
    height: 100%;
}

.image video{
    position: absolute;
    left: 47px;
    top: 55px;
    width: 250px
}




.second .text{
    order: 2;
}


.image img{
    height: 280px;
}

footer{
    margin-top: 20px;
    color: white;
}


.footer-content{
    
    width: 74%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content h2{
    font-size: 2rem;
}

.grid-container{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,70px);
    row-gap: 10px;
}

.grid-container > div{
    display: flex;
    align-items: center;
    background-color: rgb(99, 87, 87);
    border-radius: 15px;
    padding-inline-start: 25px;
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}



footer{
    padding-bottom: 1rem;
}


.links-content{
    
    width: 74%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
}


.grid-container2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
    row-gap: 20px;
    column-gap: 100px;
    
}

a:any-link{
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    .text > h2, .tet > h2{
        font-size: 1.5rem;
    }


    .semi-hero-content{
        flex-direction: column;
        height: auto;
        padding-block: 5rem;
    }
}













